---
---

@import "{{ site.theme }}";

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #C0B283;
    text-align: center;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px
}

div.nav {
  max-width: 640px;
  margin: 0 auto;
  color: #373737;
}

img {
  max-width: 200px;
}

#header_wrap {
  background: #DCD0C0;
}

#project_title {
  font-size: 3em;
  text-shadow: #C0B282 0px 0px 10px;
  color: #373737;
}
