---
---

@import "{{ site.theme }}";

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 18px
}

div.nav {
  max-width: 640px;
  margin: 0 auto;
}

img {
  max-width: 200px;
}

#header_wrap {
  background: linear-gradient(to top, #5b4eb1, #372f6a);
}
